@import './base.css';

#app {
  height: max-content;
  width: 100%;
  font-weight: normal;
  margin:0;
  padding: 0 0;

 
}

a,
.green {
  text-decoration: none;
  color: rgb(7, 7, 7);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(180, 2%, 9%, 0.2);
  }
}


 

  


